/* Landing Page */

@media only screen and (max-width: 1050px) {
  .footer__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__body-logo img {
    width: 300px;
  }

  .footer__body-support {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .program__body {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
  }
}

@media only screen and (max-width: 850px) {
  .hero__text-title,
  .hero__text-tagline {
    font-size: 150%;
  }

  .hero__text-description {
    font-size: 130%;
  }
}

@media only screen and (max-width: 650px) {
  .app-bar__navigation,
  .app-bar__sign-up {
    display: none;
  }

  .mobile-nav.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    right: 0;
    top: 80px;
    width: 50%;
    border-radius: 20px;
  }

  .mobile-nav li {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .mobile-nav li a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: inline-block;
  }

  .mobile-nav li a:hover {
    transform: scale(1.2);
  }

  .sign-up {
    width: 100%;
    text-align: center;
    background-color: #003452;
    border-radius: 20px;
    padding: 13px 18px 13px 18px;
    color: white;
  }

  .app-bar__navigation ul {
    flex-direction: column;
  }

  .app-bar__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
  }

  #drawerButton {
    display: block;
    cursor: pointer;
  }

  .program__header h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 620px) {
  .program__body {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    justify-items: center;
  }

  .introduction__logo {
    display: none;
  }

  .introduction__wrapper {
    margin: 0 auto 0 auto;
    margin-block: 30px;
    width: 90%;
    height: 100%;
  }

  .introduction__title h2 {
    font-size: 1.5rem;
  }
}

/* Daftar Volunteer */

@media only screen and (max-width: 1200px) {
  .sidebar {
    position: absolute;
    left: -250px;
  }

  .sidebar.open {
    display: block;
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 1000;
    transition: left 0.3s ease;
  }

  .content__header-show-profile {
    background-color: black;
    padding: 0 0 0 12px;

    z-index: 1001;
  }

  .content__header-show-profile i {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 0;
  }

  .content {
    width: 100%;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 900;
  }

  .overlay.visible {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 1000px) {
  .content__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 555px) {
  .content__header-showing {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 500px) {
  .content__body {
    grid-template-columns: repeat(1, 1fr);
  }
}
